//_footer.scss
/*===========================
   footer 設定
  =========================*/



p.footerLogo {
	margin-right: 50px;
	float: left;
	}

footer ul {
	width: 450px;
	float: left;
	}

footer ul li {
	float: left;
    margin: 0px 20px 20px 0px;
	}

footer p.footerTel {
	float: right;
	}

.Copyright {
	float: right;
	}