/*===========================
   facebook button 設定
  =========================*/
.fb-like *{
	overflow: visible!important;
}

.fb-like {
	margin-bottom:15px;
	overflow: visible!important;
	}
	
